[Desktop Entry]
Name=Nokia Logo Editor
Comment=Logo editor for Nokia cellular phones
Comment[pl]=Narzędzie do edycji logo dla telefonów Nokia
Exec=nle
icon=nle.png
Terminal=0
Type=Application
# vi: encoding=utf-8
