[Desktop Entry]
Name=Nokia Logo Editor
Name[pl]=Nokia Logo Editor
Comment=Logo editor for Nokia cellular phones
Comment[pl]=Narzêdzie do edycji logo dla telefonnó w Nokia
Exec=nle
icon=nle.png
Terminal=0
Type=Application
# vi: encoding=utf-8
